.main {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
}

.footer {
    display: grid;
    place-items: center;
}

.footer a {
    color: #77002e;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid #77002e;
}
